.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.settings {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  font-size: 25px;
}

.title {
  font-size: 30px;
  font-weight: bold;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* This will align the button to the right */
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 300px;
  }
}

@media screen and (max-width: 500px) {

  .title {
    font-size: 20px;
  }

  .container {
    margin: 10px 0px
  }

  .settings {
    flex-direction: column;
  }

  .clock-wrapper {
    max-height: 200px;
  }
}

